


$base-color:#333;

$base-font-size:16px;

$base-font: 'Lato', sans-serif;

$heading-font: 'Montserrat', sans-serif;

$font-bold:700;

$theme-color:#F4BB23;

$secondary-color:#F7931D;



