.checkOut-container{
  padding: 2rem 4rem;
}
.number{
  margin-right: 2rem;
}
.heading{
      font-size: 17px;
    color: #878787;

}
.changeButton{
  color: #2A74F0;
    padding: 1rem;
    width: 13rem;
    border: 1px solid;

}
.main-shadow{
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.userName{
      font-size: 14px;
    font-weight: 600;
    margin-right: 1rem;
}

.setDisplay{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* form */


.coolinput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 100%;
  padding: 0rem 1rem;
}

.coolinput label.text {
  font-size: 1.6rem;
  color: #B0B1B0;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background: white;
  width: fit-content;
}

.coolinput input[type=text].input ,textarea.input {
  padding: 11px 10px;
  font-size: 1.5rem;
  border: 2px #B0B1B0 solid;
  border-radius: 5px;
  background: white;
}

.coolinput input[type=text].input:focus,textarea.input {
  outline: none;
}

.deliveryButton{
 padding: 1rem;
    color: #b0b1b0;
    border: 2px solid;
    background: white;
    border-radius: 8px;
}
textarea{
  resize: none;
}

.aa-product-view-content .plusminus {
  height: 100%;
  width: 30%;
  background: white;
  border: none;
  margin-top: -9px;
  font-size: 25px;
}
.aa-slider-area .nav .wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 1em 0 .8em;
}

.aa-product-view-content .wrapper {
  border: 1px #dcd3d3 solid;
  width: 100px;
  height: 30px;
  padding: 4px;
  display: flex;
  border-radius: 5px;
}
.aa-product-view-content .num {
  height: 100%;
  width: 39%;
  border: none;
  font-size: 20px;
}

.countButton{
  width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: white;
    border: 1px solid;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.countINput{
  width: 4rem;
    text-align: end;
    border-radius: 9px;
}

.remove{
  margin-left: 2rem;
    display: flex;
    align-items: center;

}
.info-div{
  margin: .5rem 0rem;
}
.margin_right{
  margin-right: 1rem;
}

.info_color{
  color: #2A74F0;
}
.heading_color{
  color: #B0B1B0;
}

.display_none{
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
   background-color: white;
}

.rate{
 margin-right: 1rem;
    font-size: 14px;
    display: flex;
    align-items: end;
    position: relative;
    text-decoration: line-through;
    color: #878787;

}


.disconntRate{
  margin-right: 1rem;

    display: flex;
    align-items: end;

}
